body{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(72, 72, 72);
    padding: 20px;
    margin-top: 20px;
}
.draggable{
    padding: 10px;
    border: 1px solid red;
    cursor: move;
    background-color: white;
    font-size: 20px;
}
.draggable.dragging{
    opacity: .3;
}